**
!deploy/
!deploy/docker/
!deploy/docker/**
!scripts/
!scripts/import_local_db.sh
!sql/
!sql/**
!studyforge-server/
!studyforge-server/studyforge-webapi/
!studyforge-server/studyforge-webapi/target/
!studyforge-server/studyforge-webapi/target/studyforge-webapi-1.0.0-SNAPSHOT.war
!studyforge-frontend/
!studyforge-frontend/apps/
!studyforge-frontend/apps/knowledge-web/
!studyforge-frontend/apps/knowledge-web/dist/
!studyforge-frontend/apps/knowledge-web/dist/**
!studyforge-frontend/apps/portal-web/
!studyforge-frontend/apps/portal-web/dist/
!studyforge-frontend/apps/portal-web/dist/**
