COMPOSE_PROJECT_NAME=studyforge_staging

WEB_PORT=7897

API_IMAGE=ghcr.io/niit-workshop-of-shzu/studyforge-ai-api:staging
WEB_IMAGE=ghcr.io/niit-workshop-of-shzu/studyforge-ai-web:staging
MIGRATE_IMAGE=ghcr.io/niit-workshop-of-shzu/studyforge-ai-migrate:staging
MYSQL_IMAGE=ghcr.io/niit-workshop-of-shzu/studyforge-ai-mysql:staging

MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=studyforge_ai
MYSQL_USER=studyforge
MYSQL_PASSWORD=123456

JDBC_MAXIMUM_POOL_SIZE=20
JDBC_MINIMUM_IDLE=4
